<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/comentarios">
            <i class="fa fa-comments"></i>
            <span class="nav-link-text">Mis Comentarios</span>
          </a>
        </li>
        {{#if us.rol}}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="/admin/roles">
                <i class="fa fa-users"></i>
                <span class="nav-link-text">Roles</span>
              </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="/admin/usuarios">
                <i class="fa fa-user"></i>
                <span class="nav-link-text">Usuarios</span>
              </a>
            </li>
        {{/if}}
        
        <!--
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/admin/categorias">
            <i class="fa fa-archive"></i>
            <span class="nav-link-text">Categorías</span>
          </a>
        </li>
        -->
        <!--
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsuarios" data-parent="#exampleAccordion">
            <i class="fa fa-users"></i>
            <span class="nav-link-text">Usuarios</span>
          </a>
          
          <ul class="sidenav-second-level collapse" id="collapseUsuarios">
            <li>
              <a href="/admin/usuarios">Todos los Usuarios</a>
            </li>
          </ul>
        </li>
        -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-book"></i>
            <span class="nav-link-text">Posts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
              <a href="/admin/posts"><i class="fa-fa-file-alt"></i><span class="nav-link-text">Mis Posts</span></a>
            </li>
            {{#if us.rol}}
              <li>
                <a href="/admin/posts/todos-los-posts"><i class="fa-fa-file-alt"></i><span class="nav-link-text">Todos los posts</span></a>
              </li>
            {{/if}}
          </ul>
        </li>
      </ul>